@model Jonesware.WeightTracker.Website.ViewModels.Profile.IndexViewModel

@{
	ViewBag.Title = "Profile";
	Layout = "~/Views/Shared/_2ColumnLeft.cshtml";
}

@Html.Partial("~/Views/Shared/_PageHeader.cshtml", "Profile")

<p><strong class="text-muted">Birth Date:</strong> @Model.BirthDate</p>
<p><strong class="text-muted">Birth Year:</strong> @Model.BirthYear</p>
<p><strong class="text-muted">Height:</strong> @Model.Height</p>
<p><strong class="text-muted">Gender:</strong> @Model.Gender</p>
