@model Jonesware.WeightTracker.WebApp.Models.ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
}

<div class="page-header"><h1>Change Password</h1></div>

<div class="row">
	<div class="col-sm-7">
		@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
		{
			@Html.AntiForgeryToken()

			<div class="box box-solid box-blue">
				<div class="box-body">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<fieldset>
						<div class="form-group">
							<label for="OldPassword" class="control-label">Old Password:</label>
							@Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Old Password" } })
							@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							<label for="NewPassword" class="control-label">New Password:</label>
							@Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
							@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							<label for="ConfirmPassword" class="control-label">Confirm Password:</label>
							@Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
					</fieldset>
				</div>

				<div class="box-footer">
					<div class="form-group">
						<button type="submit" class="btn btn-flat bg-blue">Change Password</button>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="col-sm-5"></div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}