@using Jonesware.WeightTracker.WebApp.Models;
@model Jonesware.WeightTracker.WebApp.ViewModels.Manage.IndexViewModel
@{
	ViewBag.Title = "Manage";
}

<div class="page-header"><h1>Account</h1></div>

<div class="row">
	<div class="col-lg-4">
		<div class="box box-solid box-blue">
			<div class="box-body">
				<img class="profile-user-img img-responsive img-circle" src="@Html.GetLargeProfileImageUrl(User.Identity.GetUserName())" alt="@User.Identity.GetFirstName() @User.Identity.GetLastName()">
				<h3 class="profile-username text-center" data-bind="text: fullName"></h3>
				<ul class="list-group list-group-unbordered">
					<li class="list-group-item"><strong>Email:</strong><span class="pull-right text-primary">@User.Identity.GetUserName()</span></li>
					<li class="list-group-item"><strong>Date Joined:</strong><span class="pull-right text-primary">@User.Identity.GetDateCreated().ToShortDateString()</span></li>
					<li class="list-group-item"><strong>Profile Image:</strong><a href="http://gravatar.com" target="_blank" class="pull-right text-primary">Update Gravatar <span class="fa fa-fw fa-external-link"></span></a></li>
					<li class="list-group-item"><strong>Password:</strong>
						@if (Model.HasPassword)
						{
							@Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "pull-right text-primary" })
						}
						else
						{
							@Html.ActionLink("Create", "SetPassword", null, new { @class = "pull-right text-primary" })
						}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-8">
		@using (Html.BeginForm())
		{
			<div class="box box-solid box-blue">
				<div class="box-header with-border">
					<div class="box-title">Personal Info</div>
				</div>

				<div class="box-body">
					<fieldset>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label for="FirstName" class="control-label">First Name:</label>
									@Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
									@Html.ValidationMessageFor(m => m.FirstName)
								</div>
								<div class="col-xs-6">
									<label for="LastName" class="control-label">Last Name:</label>
									@Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
									@Html.ValidationMessageFor(m => m.LastName)
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label for="DateOfBirth" class="control-label">Birthdate:</label>
									@Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @type = "Date", @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.DateOfBirth)
								</div>
								<div class="col-xs-6">
									<label for="Gender" class="control-label">Gender:</label>
									@Html.DropDownListFor(m => m.Gender, Gender.ToSelectListItems(), new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Gender)
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="Feet" class="control-label">Height:</label>
							<div class="row">
								<div class="col-xs-6">
									<div class="input-group">
										@Html.EditorFor(m => m.Feet, new { htmlAttributes = new { @class = "form-control", placeholder = "Feet" } })
										<span class="input-group-addon">feet</span>
									</div>
									@Html.ValidationMessageFor(m => m.Feet)
								</div>
								<div class="col-xs-6">
									<div class="input-group">
										@Html.EditorFor(m => m.Inches, new { htmlAttributes = new { @class = "form-control", placeholder = "Inches" } })
										<span class="input-group-addon">inches</span>
									</div>
									@Html.ValidationMessageFor(m => m.Inches)
								</div>
							</div>
						</div>
					</fieldset>

					<input type="hidden" name="Theme" id="Theme" value="blue" />
					<button type="submit" class="btn btn-flat bg-blue" id="Submit">Save Changes</button>
				</div>

				@*<div class="box-header with-border">
					<div class="box-title">Site Preferences</div>
				</div>

				<div class="box-body">
					<fieldset>
						<div class="form-group">
							<label class="control-label">Theme:</label>
							@Html.DropDownListFor(m => m.Theme, SiteTheme.ToSelectListItems(), new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Theme)
						</div>
					</fieldset>
				</div>*@
			</div>
		}
	</div>
</div>
