@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="profile-picture-container">
					@Html.Gravatar(User.Email, 150, GravatarHelper.DefaultImageIdenticon, new { @class = "img-circle img-thumbnail" })
					<span class="profile-username">@User.Username</span>
				</div>
			</div>

			<div class="list-group">
				<a href="@Url.RouteUrl("WeighIns")" class="list-group-item @Html.GetActiveRouteClass("WeighIns")">Weigh Ins</a>
				<a href="@Url.RouteUrl("BodyMassIndex")" class="list-group-item @Html.GetActiveRouteClass("BodyMassIndex")">Body Mass Index (BMI)</a>
				<a href="@Url.RouteUrl("BodyFatPercentage")" class="list-group-item @Html.GetActiveRouteClass("BodyFatPercentage")">Body Fat Percentage</a>
				<a href="@Url.RouteUrl("Profile")" class="list-group-item @Html.GetActiveRouteClass("Profile")">Profile</a>
			</div>
		</div>
	</div>

	<div class="col-sm-9">
		@RenderBody()
	</div>
</div>

@section head { @RenderSection("head", false) }

@section scripts { @RenderSection("scripts", false) }