<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @Constants.SiteName</title>
	<link href="~/css/lib.min.css" rel="stylesheet" />
	<link href="~/css/app.css" rel="stylesheet" />
	<script src="~/bower_components/modernizr/modernizr.js"></script>
	@RenderSection("head", false)
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink(Constants.SiteName, "Index", "Page", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					@if (User.Identity.IsAuthenticated)
					{
						<li><a href="@Url.RouteUrl("WeighIns")">Home</a></li>
						<li><a href="@Url.RouteUrl("Logout")">Logout</a></li>
					}
					else
					{
						<li class="@Html.GetActiveRouteClass("Login")"><a href="@Url.RouteUrl("Login")">Login</a></li>
						<li class="@Html.GetActiveRouteClass("Register")"><a href="@Url.RouteUrl("Register")">Register</a></li>
					}
				</ul>
			</div>
		</div>
	</nav>

	<main>
		<div class="container body-content">
			@RenderBody()
			<hr />
		</div>
	</main>

	<footer>
		<div class="container">
			<p>&copy; @DateTime.Now.Year - Weight Tracker</p>
		</div>
	</footer>

	<script src="~/js/lib.min.js"></script>
	@RenderSection("scripts", false)
</body>
</html>