@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/dashboard">Dashboard</a></li>
		@if (User.IsInRole("Admin"))
		{
			<li><a href="/admin/dashboard">Admin</a></li>
		}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-circle profileImage" src="@Html.GetSmallProfileImageUrl(User.Identity.GetUserName())" alt="@User.Identity.GetUserName()" />@User.Identity.GetFirstName() @User.Identity.GetLastName() <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/manage">Account</a></li>
				<li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
			</ul>
		</li>
	</ul>

	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}