@model Jonesware.WeightTracker.WebApp.Areas.Admin.ViewModels.Dashboard.IndexViewModel

@{
	ViewBag.Title = "Dashboard";
}

<section class="content-header"><h1>Dashboard</h1></section>

<section class="content">
	<div class="row">
		<div class="col-sm-6">
			<div class="info-box bg-aqua">
				<span class="info-box-icon"><i class="fa fa-fw fa-users"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Users</span>
					<span class="info-box-number">@Model.NumUsers</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="info-box bg-green">
				<span class="info-box-icon"><i class="fa fa-fw fa-balance-scale"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Weigh Ins</span>
					<span class="info-box-number">@Model.NumWeighIns</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Newest Users</h3>
				</div>

				<div class="box-body no-padding">
					<ul class="users-list">
						@foreach (var user in Model.NewestUsers)
						{
							<li>
								<img src="@Html.GetLargeProfileImageUrl(user.Email)" alt="@user.FirstName @user.LastName" title="@user.FirstName @user.LastName" />
								<a href="@Url.Action("Details", "User", new { id = user.Id })" class="users-list-name" title="@user.FirstName @user.LastName">@user.FirstName @user.LastName</a>
								<span class="users-list-date">@user.DateCreated.ToShortDateString()</span>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box box-primary box-solid">
				<div class="box-header">
					<div class="box-title">Most Recent Weigh Ins</div>
				</div>

				<div class="box-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th class="text-center">User</th>
								<th class="text-center">Date</th>
								<th class="text-center">Weight (lbs)</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var weighIn in Model.MostRecentWeighIns)
							{
								<tr>
									<td>@weighIn.User.FirstName @weighIn.User.LastName</td>
									<td class="text-center">@weighIn.DateRecorded.ToLongDateString()</td>
									<td class="text-center">@weighIn.Weight.ToString("#.##")</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>